body {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1,
li {
  color: #fff;
}

#chart-area,
#input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  border: 1px solid #fff;
}
